{
    "extends": [
      "./index.js"
    ],
    "parserOptions": {
      "project": null
    },
    "rules": {
      "@typescript-eslint/no-floating-promises": 0,
      "@typescript-eslint/await-thenable": 0
    }
  }
  